<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>web worker test1</title>
    <meta id="share-name" itemprop="name" content="">
    <meta id="share-description" itemprop="description" content="">
    <meta id="share-image" itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="http://7xvsf2.com1.z0.glb.clouddn.com/favicon.ico">


    <% if (process.env.NODE_ENV === 'handover') { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css] %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } else { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css].substr(htmlWebpackPlugin.files.publicPath.length); %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } %>
    <!-- rem布局初始化设置start -->
    <script type="text/javascript">
        <%= require('raw-loader!./src/js/app/rem.js') %>
    </script>
    <!-- rem布局初始化设置end -->
</head>
<body>
    <div class="m-main-wrap absf">
        <canvas id="canvas1" width="600" height="360"></canvas>
        <div class="btn-wrap">
            <button class="btn-single" style="display:none;">单线程</button>
            <button class="btn-multiple" style="display:none;">多线程</button>
        </div>
        <div class="msg-wrap">
            <p class="single-time" style="font-size: 20px"></p>
            <p class="multiple-time" style="font-size: 20px"></p>
        </div>
    </div>
    
    <% if (process.env.NODE_ENV === 'handover') { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry; %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } else { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry.substr(htmlWebpackPlugin.files.publicPath.length); %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } %>

    </body>
</html>
